.#{$ns}-cell {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 16px;

  color: #404040;
  font-family: 'Source Sans Pro', Arial, 'sans-serif';

  .#{$ns}-cell__header {
    flex: 0 0 auto;
    padding: $spacing;
    box-sizing: border-box;
  }
  
  .#{$ns}-cell__footnote {
    flex: 0 0 auto;
    padding: $spacing;
    box-sizing: border-box;
  }

  .#{$ns}-content {
    flex: 1 0 auto;
  }
}

.#{$ns}-cell__error {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAM0lEQVQYV2P8z8BgzMjAcJYBCUDFkIUYGECCIBFGdJVQwbNwCSSVYGPBEuiCYAlsgiAJANbwDGtj7MYdAAAAAElFTkSuQmCC);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.#{$ns}-content {
  position: relative;

  .#{$ns}-content__body {
    position: absolute;
    top: $spacing;
    left: $spacing;
    bottom: $spacing;
    right: $spacing;
  }
}

.#{$ns}-type--s {
  font-size: 12px;
  line-height: 16px;
}

.#{$ns}-type--m {
  font-size: 16px;
  line-height: 20px;
}
