*.log
*.rej
*.tmp
*.log
.cache/
.DS_Store
.idea/
.vscode/
.npmrc

node_modules/
coverage/
dist/
temp/
test/**/__artifacts__/regression
test/**/__artifacts__/diff
test/**/__artifacts__/temp
apis/*/core/**/*.js
apis/*/core/**/*.js.map
apis/locale/all.json

Search/

local-dev/
