*.log
*.rej
*.tmp
*.log
*.pem
.cache/
.DS_Store
.idea/
.vscode/
.npmrc
*.pem

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules/
coverage/
dist/
temp/
test/**/__artifacts__/regression
test/**/__artifacts__/diff
test/**/__artifacts__/temp
apis/*/core/**/*.js
apis/*/core/**/*.js.map
apis/locale/all.json
generated/

Search/

local-dev/
storybook-static/

# testing
test/rendering/reports
test-results
test/rendering/test/rendering/reports