body {
  font-family: Arial;
  color: #404040;
  background: #eee;
  margin: 12px;
}

#selections, #object {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

#object {
  position: absolute;
  top: 64px;
  left: 12px;
  bottom: 12px;
  right: 12px;
}
