version: 2

aliases:
  - &restore_yarn_cache
    name: Restore yarn cache
    keys:
      - yarn-packages-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - yarn-packages-{{ .Branch }}
      - yarn-packages-
  - &save_yarn_cache
    name: Save yarn cache
    paths:
      - ~/.cache/yarn
    key: yarn-packages-{{ .Branch }}-{{ checksum "yarn.lock" }}
  - &filter_master
    branches:
      only: master
  - &attach
    at: ~/project

jobs:
  build:
    docker:
      - image: circleci/node:10.9.0-browsers
      - image: qlikcore/engine:12.321.0
        command: -S AcceptEULA=yes

    working_directory: ~/project

    steps:
      - checkout

      - restore_cache: *restore_yarn_cache

      - run:
          name: Install dependencies
          command: yarn install --frozen-lockfile

      - run:
          name: Build
          command: yarn run build

      - run:
          name: Lint
          command: yarn run lint

      - run:
          name: Unit tests
          command: yarn run test:unit

      - run:
          name: Import app
          command: |
            DocId=$(curl -s --data-binary @packages/serve/data/apps/ctrl00.qvf http://localhost:9076/v1/apps/import | jq -r '.attributes.id')
            echo "export DOC_ID=$DocId" >> $BASH_ENV

      - run:
          name: Test integration
          command: |
            APP_ID=$DOC_ID yarn run test:integration

      - run:
          name: Create a supernova project
          command: npx nebula create generated/hello --pkgm yarn

      - run:
          background: true
          name: Serve supernova
          command: |
            cd generated/hello
            yarn run start --port 8085

      - run:
          name: Test generated supernova
          command: |
            dockerize -wait tcp://localhost:8085 -timeout 30s
            APP_ID=$DOC_ID npx aw puppeteer --glob test/e2e-cli/**/*.spec.js

      - save_cache: *save_yarn_cache
