<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nebula mashup</title>

    <style>
      body {
        background: #eee;
      }

      .content {
        margin: 0 auto;
        width: 80%;
        max-width: 800px;
      }

      .object {
        position: relative;
        height: 600px;
      }

      .toolbar {
        margin: 12px 0px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <div class="toolbar"></div>
      <div class="object"></div>
    </div>

    <script src="./index.js" type="module"></script>
  </body>
</html>
